<%- include ("partials/header") %> 



<div class="mob">
  

    <img class="dinoimg" src=<%= url %>  alt="">
    
    <p class= "dino"> <%= Name  %> </p>
    

    <p class="nice">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, vel dignissimos quasi, vitae eum ducimus quos optio culpa recusandae ratione quo aliquam, minus exercitationem quis blanditiis saepe aperiam asperiores eaque! Aspernatur sunt neque vel ipsum rerum eius culpa ex delectus!</p>

    <button class=" btn btn-outline-danger btn-lg reload"> Next</button>




<%- include ("partials/footer") %> 